* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {

    overflow-x: hidden;
    background-color: #ffffff;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    position: relative;
}

button {
    border: none;
    cursor: pointer;
}

/* nav styling */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: #3d405b;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    padding-top: 30px;
    padding-bottom: 20px;
}

nav section {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav section img {
    width: 17%;
    background-color: #3d405b;
    -webkit-tap-highlight-color: #00000000;
    padding-right: 10px;
}

nav h2 {
    padding-top: 2%;
    color: whitesmoke;
    line-height: 15px;
}

nav section span {
    font-size: x-small;
    letter-spacing: 0px;
}

nav #navigation {
    margin-right: 100px;
    gap: 50px;
    font-size: 16px;
    font-weight: 500;
}

.drop {
    display: none;
    border-radius: 20px !important;
    color: black;
    border-radius: 20px;
    position: absolute;
    flex-direction: column;
    right: 190px;
    top: 54px;

}

.drop a {
    border: solid white;
    background-color: white;
    color: black;
    padding: 5px 15px;
    position: relative;
    top: 18px;
}

.drop i {
    color: white;
    font-size: xx-large;
    position: absolute;
    left: 10px;
    font-weight: bolder;
}

nav section a {
    font-size: medium;
    text-decoration: none;
    color: whitesmoke;
}

nav section a:hover {
    color: #f2cc8f;
}

nav section>button {
    border: solid;
    border-width: 1px;
    border-radius: 20px;
    background-color: #f2cc8f;
    border-color: #f2cc8f;
    padding: 10px;
    color: white;
    text-align: center;
}

nav section button:hover {
    color: #f2cc8f;
}

nav section a:active {
    color: #f2cc8f;
}

nav section button:hover {
    background-color: #f2cc8f;
    color: white;

}



/* Full Content Styling */
#content {
    padding-top: 6%;
}


/* home page styling */
.home_page {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image: url(./Image/home_bg_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 90vh;
}

.home_page::before {
    background-color: #333d33c9;
    z-index: 1;
}


.home_page h2 {
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-size: 36px;
}

.home_page iframe {
    border-radius: 30px;
    text-size-adjust: 100%;
}

.home_page_left {
    padding-top: 10%;
    align-self: flex-start;
    line-height: 300%;
    z-index: 2;
}

.home_page_left button {
    font-weight: 700;
    border-radius: 100px;
    /* padding: 10px 20px; */
    background-color: #f2cc8f;
    font-size: 14px;
    box-sizing: border-box;
    margin: auto;
}

.home_page_left a {
    display: inline-block;
    font-size: 16px;
    padding: 10px 15px;

}

.inline_change h2,
.next_change {
    display: inline-flex;
    margin-bottom: 10px;
}

.home_page_left .rem {
    display: none;
}

.home_page_left .act {

    display: block;
    color: #f2cc8f;
}


.home_page_left button a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 700;
}

.home_page_left button:hover {
    background-color: #e07a5f;
}

.home_page_left :nth-child(4) {
    color: white;
    text-decoration: none;
    padding-left: 20px;
}

.home_page_left a:hover {
    color: white;

}

.home_page_right {
    z-index: 2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}


/* About page design */
.About {
    margin-top: 2%;
}

.about_page {
    margin: 2% 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5%;

}

.About {
    padding-top: 2%;

}

.About h2 {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    padding-bottom: 2%;
}

.About h3 {
    padding-bottom: 2%;
}

.about_page_left {
    max-width: 35%;
    line-height: 25px;
    text-align: justify;
}

.about_page_left h3 {
    font-size: 28px;
    font-weight: 500;

}

.about_page_left p {
    color: #717275;
    font-size: 18px;
    font-weight: 400;
}

.about_page_right {
    display: flex;
    align-items: center;
    gap: 100px;
}

.about_page_right h5 {
    text-align: center;
}

.about_page_right img {

    width: 306px;
    height: 204px;
    border-radius: 10px;
    transition: width 2s, height 2s;
}


.about_page_right .inline_style {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_page_right .inline_style h3 {
    font-size: 24px;
    font-weight: 500;
}

.about_page_right .inline_style h4 {
    color: #7c7e83;
    font-size: 18px;
    font-weight: 400;
}



.about_page_right .relative {
    position: relative;
}

.about_page_right .inside_img {
    position: absolute;
    top: 35%;
    left: 35%;
    color: black;
    background-color: white;
    border-radius: 20px;
}

.about_page_right i {
    padding: 10px;
    opacity: 1;
}

.about_page_right .inside_img {
    display: none;
}

.about_page_right .active {
    display: block;
}

.about_page_img {
    background-image: url(./Image/about_page.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 70vh;
    display: flex;
    align-items: center;

}

.about_page_newsletter {
    line-height: 30px;
    margin-left: 4%;
    padding: 1% 3%;
    border-radius: 20px;
    max-width: 40%;
    max-height: 100%;
    border: 1px solid rgba(160, 136, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(5px) saturate(180%);
    padding: 20px;
    padding-top: 40px;
}

.about_page_newsletter h1 {
    font-size: 36px;
    font-weight: 700;
}

.about_page_newsletter p {
    font-size: 18px;
    font-weight: 400;
    opacity: 0.5;
    margin-top: 5%;
}

.about_page_newsletter input {
    margin: 20px 0px;
    width: 100%;
    border-radius: 100px;
    padding: 10px 15px;
    border-color: white;
    height: 20%;
    background-color: #ffffff;

}

.about_page_newsletter :placeholder-shown {
    font-size: larger;
    color: black;
    padding-left: 7%;
}

.place_inside_input input {
    padding: 20px;
    border: none;
}

.place_inside_input input:placeholder-shown {
    color: #717275;
    padding-top: 22px;
    padding-left: 50px;
    font-size: 20px;

}
.place_inside_input input:focus{
    outline: 1px solid black;
}
.place_inside_input textarea:focus{
    outline: 1px solid black;
}
.border_mem textarea::placeholder {
    color: #717275;
    font-size: 16px;
}

.place_inside_input {
    position: relative;
    width: 100%;
}

.about_page_newsletter i {
    position: absolute;
    left: 21px;
    top: 42%;
    color: black;
    font-size: 20px;
    font-style: normal;
}

.place_inside_input button {
    font-weight: 500;
    padding: 10px;
    margin-bottom: 0;
    height: 50px;
    width: 150px;
    text-align: center;

    background-color: #f2cc8f;
    border: none;
    border-radius: 100px;
    color: white;
    position: absolute;
    right: 1%;
    top: 26.5%;
}

.place_inside_input button,
a {
    font-size: 18px;
    font-weight: bolder;
}

.place_inside_input button:hover {
    background-color: #FF4500;
}


/* Membership styling */
.Membership {
    margin-top: 3%;
}

.Membership h2 {
    text-align: center;
}

.mem_page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3%;
}

.mem_page table {
    border-collapse: collapse;
    margin-top: 4%;
    width: 650px;
}

.mem_page table th {
    background-color: #3d405b;
    color: white;


}

table .fa-xmark {
    color: white;
    background-color: #e07a5f;
    padding-top: 3px;
    font-size: small;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.fa-check {
    width: 20px;
    height: 20px;
    color: white;
    background-color: #81b29a;
    padding: 3px;
    font-size: small;
    border-radius: 50%;
}

.mem_page table td {
    text-align: center;
}

th:first-child {
    border-radius: 20px 0px 0px 0px;
}

th:last-child {
    border-radius: 0px 20px 0px 0px;
}

.mem_page th,
.mem_page td {
    padding: 20px 16px;

}

.mem_page table tr:nth-child(2n) {
    background-color: #f4f1de;
}

.mem_page .border_mem {
    background-color: #3d405b;
    width: 500px;
    border-radius: 20px;
    padding: 20px;
    
}

.mem_page .border_mem h4 {
    color: whitesmoke;
    padding: 10px;
}

.mem_page .border_mem input {
    padding: 12px;
    margin: 15px;
    width: 92%;
    border-radius: 20px;
    height: max-content;
}

.mem_page .border_mem textarea {
    height: 110px;
    padding: 20px;
    margin: 10px;
    width: 92%;
    border-radius: 20px;

}

.mem_page .border_mem :placeholder-shown {
    color: black;
    font-size: medium;
}

.mem_page .border_mem {
    margin-top: 20px;
}

.mem_page .border_mem button {
    background-color: #f2cc8f;
    color: white;
    padding: 12px;
    margin: 10px;
    width: 92%;
    border-radius: 20px;
    height: max-content;
    font-size: 18px;
}


/* event page styling */
.event_page {
    background-color: #f4f1de;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
    padding: 70px 0px 70px 100px;
    padding-right: 100px;
}

.event_page>h2 {
    font-size: 36px;
    font-weight: 700;
}

.event_page .date_color h2 {
    font-size: 42px;
    font-weight: 400;
}

.event_page .events_upcoming {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.event_page .events_upcoming:last-child {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.event_page .date_color {
    background-color: #81b29a;
    height: fit-content;
    border-radius: 20px;
    padding: 20px 30px;
    line-height: 40px;
    text-align: center;
    width: 200px;

}

.event_page .date_color h4 {
    color: white;
    font-size: 16px;
    font-weight: 700;

}

.event_page img {
    width: 391px;
    height: 253px;
    border-radius: 20px;
}

.event_page .events_upcoming .event_content a {
    text-decoration: none;
    color: #3d405b;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
}

.event_page .events_upcoming .event_content>p {
    line-height: 27px;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid rgba(0, 0, 0, 0.107);
    padding-bottom: 20px;
    color: #717275;
}

.event_page .location {
    display: flex;
    margin-top: 20px;
    line-height: 30px;
    justify-content: space-between;
}

.event_page .location span {
    font-size: 16px;
    font-weight: 700;
}

.event_page .location button {
    align-content: center;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #f2cc8f;
    color: white;
    border-color: #f2cc8f;
    font-weight: 700;
}

/* contact page styling */
.contact_page {
    padding: 70px 0px 0px 70px;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-around;
    align-items: flex-start;
}


.contact_page .form_style input {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid rgb(179, 176, 176);
    font-weight: 400;
    border-width: 2px;
    margin-top: 30px;
    outline: none;

}

.contact_page .form_style textarea {
    margin-top: 30px;
    border-color: rgb(179, 176, 176);

}

.contact_page .form_style textarea {
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 20px;
    width: 100%;
    height: 100px;
}

.contact_page .form_style input:placeholder-shown,
textarea:placeholder-shown {
    font-size: 16px;
    font-weight: 400;
    color: #717275;
}


.contact_page .form_style button {
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    background-color: #f2cc8f;
    width: 100%;
    border-color: #f2cc8f;
    margin-top: 20px;
    font-size: large;
}

.contact_page address {
    margin-top: 90px;
    text-align: center;
    background-color: #3d405b;
    padding: 20px 30px;
    line-height: 30px;
    border-radius: 20px;
    color: white;
    position: absolute;
    top: 1px;
    left: 210px;

}

.contact_page address h3 {
    font-size: 16px;
    font-weight: 700;
}

.contact_page address h4 {
    font-size: 18px;
    font-weight: 400;
}

.contact_page address:last-child {
    padding-bottom: 50px;
}

.contact_page address button {
    width: 100%;
    padding: 10px;
    background-color: #e07a5f;
    position: absolute;
    left: 0px;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 0px 0px 20px 20px;

}

.contact_pag h4 {
    color: #717275;
    font-weight: 500;
    font-size: 18px;
}

.contact_pag h4>span {
    padding-left: 50px;
}

.contact_dates h4:first-child {

    border-bottom: 1px solid #71727327;
    width: fit-content;
    padding-bottom: 20px;
}

.contact_dates h4:last-child {
    padding-top: 20px;
}

.contact_page_last {
    display: flex;
    position: relative;
    top: 20px;
    left: 100px;

}

.contact_page_last h3 {
    font-size: large;
    color: #3d405b;
    margin-bottom: 1rem;


}

.contact_pag {
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 100px;
}

footer p {
    margin-top: 30px;
    color: #717275;
    font-size: large;
}

.icon {
    align-self: center;
    padding: 10px;
}

.icon i {
    font-size: larger;
    margin-left: 10px;
    border: 1px solid;
    padding: 10px;
    border-radius: 20px;
    background-color: #3d405b;
    color: whitesmoke;
}



/* Member_login */
.Member_login {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #81B29A;
    padding: 50px 50px;
    z-index: 2000;
    height: 100vh;
    width: 400px;

}

.login_content {
    position: relative;
    height: 90vh;

}

.Member_login h2 {
    font-size: 22px;
    font-weight: 500;
    color: black;
    letter-spacing: -1px;
}

.Member_login form {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.Member_login form label {
    font-size: 16px;
    font-weight: 400;
    color: #212529;

}

.Member_login form input {
    border-radius: 100px;
    padding: 10px;
    border-color: white;
    outline: #717275;
    width: 100%;
    margin: 10px 0px;

}

.Member_login form input:placeholder-shown {
    font-size: 16px;
    font-family: inherit;
    font-weight: 400;
}

.Member_login form div {
    margin-top: 10px;
}

.Member_login form div label {
    font-size: 16px;
    padding-left: 1px;

}

.Member_login label {
    display: inline-block;
}

.Member_login form #rem_me {
    border-radius: .25rem;
    border: 1px solid black;
    width: 1.2em;
    margin-top: 10px;
    margin-left: 10px;
    height: 1.2em;
    background-color: white;
    border-color: whitesmoke;
    box-shadow: whitesmoke;
}

.Member_login form button {
    background-color: #f2cc8f;
    color: white;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 20px;
    align-items: end;
    width: fit-content;
}

.login_content form a {
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 30px;
    color: #3D405B !important;
    text-decoration: none;
}

.login_content footer {
    position: absolute;
    bottom: 0px;
    font-size: 18px;
    margin-left: 40px;
}

.login_content h4 {

    font-size: 18px;
    font-weight: 400;
}

.login_content span {
    color: #3D405B;
    font-size: 18px;
}

.close {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close button {
    cursor: pointer;
    align-items: flex-start;
    background-color: transparent;
}

.close button i {
    font-size: xx-large;
}

.close button:hover {
    background-color: transparent;
    color: black;
}

.footer_color {
    margin-top: 30px;
    left: 0;
    right: 0;
    background-color: #81B29A;
    height: 100px;
}